<title>Read it Quicka</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

	<style>
		.hidden {display:none;}
		body {font-family:'Orbitron', sans-serif; font-size:16px;}
		.navbar-brand h4{font-size:2.1rem;}
		h3{
			font-size: 1.9rem;
			text-align: center;
			padding-top: 100px;
			padding-bottom: 70px;
			
			}

			.wordcontainer {
				min-height: 55vh;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			#wordspm{ display:block; text-align: center;}
			.btncontainer{ text-align: center;}
			.hidden { display : none;}

			#WPMSlider1 .slider-selection {
				background: #BABABA;
			}
	</style>