  
   * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 16px Helvetica, Arial; }
    #chatbox { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    #chatbox input { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
    #chatbox button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; min-width:100px; }

    #chatbox > div { width:100%; }
    #chatbox >div > div { width:85%;}
    #chatbox > div > div:nth-child(2) {width:15%; }


    button { 
      cursor: pointer; 
      transition: all 0.5s; 
      -webkit-transition:all 0.5s;
      -moz-transition:all 0.5s;
      -o-transition:all 0.5s;
    }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    #messages li span { color:#e0e0e0; font-size:0.8rem; padding-left:10px; }

    .messagebody, .login{ display:none;}
    .login.active {display:flex!important;} 
    .messagebody.active { display:block!important;}

    .login { 
      height:100vh;
      width:100%;
      flex-direction: column;
      justify-content: center;
    }

      .login > div {
        margin: 0 auto 0 auto;
        left: 0;
        max-width: 250px;
        right: 0;
        display: block;
        text-align: center;
      }

      .login input { padding:6px 15px; font-size:1rem; border-radius:2px; box-shadow: none; border:1px solid #626363; width:100%;}
      .login button { margin-top:10px; padding: 6px 10px; font-size:1.2rem; background-color:#ff80cc; border:1px solid #eeebeb; color:white; border-radius:2px;}
      .login button:hover { background-color:#fff; color:#626363; border: 1px solid #626363;  }

      .icon { 
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            width:180px;
      }